<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
  <title>Fortune Tasker</title>
</head>
<body id="home">
	<div class="wrapper">
		<header>
				<!-- header -->
				<h1 class="logo"><a href="">Fortune Tasker</a></h1>
				<a class="to_nav" href="#primary_nav">Menu</a>
			</header>
			<!-- content -->

		{% block content %}{% endblock %}
					
		<footer>
			<!-- footer -->
			copyright &copy;2017 Nadine Lessio and Alanna Predko 
		</footer>
	</div> <!-- end of wrapper -->
</body>
</html>